[submodule "library/lib/extern/glfw"]
	path = library/lib/extern/glfw
	url = https://github.com/xfangfang/glfw.git
[submodule "library/lib/extern/SDL"]
	path = library/lib/extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "resources/gamepad"]
	path = resources/gamepad
	url = https://github.com/mdqinc/SDL_GameControllerDB.git
[submodule "library/lib/extern/fmt"]
	path = library/lib/extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "library/lib/extern/libromfs"]
	path = library/lib/extern/libromfs
	url = https://github.com/Nika0000/libromfs.git
[submodule "library/lib/extern/nanovg"]
	path = library/lib/extern/nanovg
	url = https://github.com/Nika0000/nanovg.git
[submodule "library/lib/extern/yoga"]
	path = library/lib/extern/yoga
	url = https://github.com/facebook/yoga.git
[submodule "library/lib/extern/tweeny"]
	path = library/lib/extern/tweeny
	url = https://github.com/mobius3/tweeny
[submodule "library/lib/extern/Vulkan-Headers"]
	path = library/lib/extern/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "library/lib/extern/volk"]
	path = library/lib/extern/volk
	url = https://github.com/zeux/volk.git
