[submodule "library/lib/extern/glfw"]
	path = library/lib/extern/glfw
	url = https://github.com/xfangfang/glfw.git
[submodule "library/lib/extern/SDL"]
	path = library/lib/extern/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "resources/gamepad"]
	path = resources/gamepad
	url = https://github.com/mdqinc/SDL_GameControllerDB.git
[submodule "library/lib/extern/fmt"]
	path = library/lib/extern/fmt
	url = https://github.com/fmtlib/fmt
